@import "tailwindcss";

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


*::-webkit-scrollbar{
  display: none;
}


.logo {
  width: 150px;
  height: auto;
  margin: 20px;
}

/* Custom line-clamp for 2 lines */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}